<p>Сообщите свои контактные данные, и мы перезвоним Вам в рабочее время.</p>
<form action="" method="POST" id="callback-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if form.user_phone.errors %}<div class="landed">{{ form.user_phone.errors }}</div>{% endif %}
    <div class="form-field label-above dotted-bottom">
        <label for="{{ form.user_phone.id_for_label }}" class="required-field">Номер телефона:</label>
        <div class="wide-field{% if form.user_phone.errors %} error-field{% endif %}">{{ form.user_phone }}</div>
    </div>
    {% if form.user_name.errors %}<div class="landed">{{ form.user_name.errors }}</div>{% endif %}
    <div class="form-field label-above dotted-bottom">
        <label for="{{ form.user_name.id_for_label }}">Имя:</label>
        <div class="wide-field{% if form.user_name.errors %} error-field{% endif %}">{{ form.user_name }}</div>
    </div>
    <div class="form-field align-center">
        <input type="submit" value="Жду звонка" class="button" />
    </div>
</form>