<form action="" method="POST" id="quick-request-form" class="no-margins">
    {% csrf_token %}
    <h2>Отправьте запрос на расчёт стоимости проекта.</h2>
    {{ form.non_field_errors }}
    <div class="form-field flex-container cross-end">
        <div class="single-width">
            {% if form.heated_area.errors %}<div class="landed">{{ form.heated_area.errors }}</div>{% endif %}
            <div class="flex-container cross-end dotted-bottom">
                <label for="{{ form.heated_area.id_for_label }}" class="required-field">Отапливаемая площадь, м<sup>2</sup>:</label>
                <div class="single-width wide-field{% if form.heated_area.errors %} error-field{% endif %}">{{ form.heated_area }}</div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="single-width">
            {% if form.bathroom_amount.errors %}<div class="landed">{{ form.bathroom_amount.errors }}</div>{% endif %}
            <div class="flex-container cross-end dotted-bottom">
                <label for="{{ form.bathroom_amount.id_for_label }}">Кол-во санузлов:</label>
                <div class="single-width wide-field{% if form.bathroom_amount.errors %} error-field{% endif %}">{{ form.bathroom_amount }}</div>
            </div>
        </div>
    </div>
    {% if form.additional_info.errors %}<div class="landed">{{ form.additional_info.errors }}</div>{% endif %}
    <div class="form-field label-above dotted-bottom">
        <label for="{{ form.additional_info.id_for_label }}">Дополнительная информация:</label>
        <div class="wide-field{% if form.additional_info.errors %} error-field{% endif %}">{{ form.additional_info }}</div>
    </div>
    {% if form.user_email.errors %}<div class="landed">{{ form.user_email.errors }}</div>{% endif %}
    <div class="form-field label-above dotted-bottom">
        <label for="{{ form.user_email.id_for_label }}" class="required-field">Email:</label>
        <div class="wide-field{% if form.user_email.errors %} error-field{% endif %}">{{ form.user_email }}</div>
    </div>
    <div class="form-field align-center">
        <input type="submit" value="Отправить" class="button main-submit" />
    </div>
    <div class="form-field align-center">
        или <a href="{% url 'calculation_order_add'%}">заполнить подробную форму запроса</a>
    </div>
</form>