{% extends "base.html" %}

{% block maincontent %}
<form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
        <legend><span class="fieldset-position-legend">1</span>Персональные данные</legend>
        {% if form.user_name.errors %}<div class="landed">{{ form.user_name.errors }}</div>{% endif %}
        <div class="form-field multi-column">
            <label for="{{ form.user_name.id_for_label }}" class="single-width required_field">Контактное лицо:</label>
            <div class="triple-width wide-field{% if form.user_name.errors %} error_field{% endif %}">{{ form.user_name }}</div>
        </div>
        {% if form.user_phone.errors %}<div class="landed">{{ form.user_phone.errors }}</div>{% endif %}
        <div class="form-field multi-column">
            <label for="{{ form.user_phone.id_for_label }}" class="single-width required_field">Телефон:</label>
            <div class="triple-width wide-field{% if form.user_phone.errors %} error_field{% endif %}">{{ form.user_phone }}</div>
        </div>
        {% if form.user_email.errors %}<div class="landed">{{ form.user_email.errors }}</div>{% endif %}
        <div class="form-field multi-column">
            <label for="{{ form.user_email.id_for_label }}" class="single-width required_field">Email:</label>
            <div class="triple-width wide-field{% if form.user_email.errors %} error_field{% endif %}">{{ form.user_email }}</div>
        </div>
    </fieldset>
    <fieldset>
        <legend><span class="fieldset-position-legend">2</span>Информация об объекте</legend>
        {% if form.object_type.errors %}<div class="landed">{{ form.object_type.errors }}</div>{% endif %}
        <div class="form-field">
            <label for="{{ form.object_type.id_for_label }}" class="required_field">Тип объекта:</label>
            {{ form.object_type }}
        </div>
        {% if form.levels_amount.errors %}<div class="landed">{{ form.levels_amount.errors }}</div>{% endif %}
        <div class="form-field multi-column">
            <label for="{{ form.levels_amount.id_for_label }}" class="single-width required_field">Кол-во этажей:</label>
            <div class="double-width wide-field{% if form.levels_amount.errors %} error_field{% endif %}">{{ form.levels_amount }}</div>
        </div>
        {% if form.heated_area.errors %}<div class="landed">{{ form.heated_area.errors }}</div>{% endif %}
        <div class="form-field multi-column">
            <label for="{{ form.heated_area.id_for_label }}" class="single-width required_field">Отапливаемая площадь:</label>
            <div class="double-width wide-field{% if form.heated_area.errors %} error_field{% endif %}">{{ form.heated_area }}</div>
        </div>
    </fieldset>
    <fieldset>
        <legend><span class="fieldset-position-legend">3</span>Интересующие системы и услуги</legend>
        <div class="multi-column">
            <div class="single-width">
                {% if form.radiator_heating.errors %}<div class="landed">{{ form.radiator_heating.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.radiator_heating }}
                    <label for="{{ form.radiator_heating.id_for_label }}">Радиаторное отопление</label>
                </div>
                {% if form.floor_heating.errors %}<div class="landed">{{ form.floor_heating.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.floor_heating }}
                    <label for="{{ form.floor_heating.id_for_label }}">Тёплые полы</label>
                </div>
                {% if form.boilerplant.errors %}<div class="landed">{{ form.boilerplant.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.boilerplant }}
                    <label for="{{ form.boilerplant.id_for_label }}">Котельная</label>
                </div>
                {% if form.water_supply.errors %}<div class="landed">{{ form.water_supply.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.water_supply }}
                    <label for="{{ form.water_supply.id_for_label }}">Водоснабжение и канализация</label>
                </div>
                {% if form.water_treatment.errors %}<div class="landed">{{ form.water_treatment.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.water_treatment }}
                    <label for="{{ form.water_treatment.id_for_label }}">Водоподготовка</label>
                </div>
            </div>
            <div class="single-width">
                {% if form.svc_project.errors %}<div class="landed">{{ form.svc_project.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.svc_project }}
                    <label for="{{ form.svc_project.id_for_label }}">Проектирование</label>
                </div>
                {% if form.svc_purchase.errors %}<div class="landed">{{ form.svc_purchase.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.svc_purchase }}
                    <label for="{{ form.svc_purchase.id_for_label }}">Комплектация</label>
                </div>
                {% if form.svc_assembly.errors %}<div class="landed">{{ form.svc_assembly.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.svc_assembly }}
                    <label for="{{ form.svc_assembly.id_for_label }}">Монтаж</label>
                </div>
                {% if form.svc_reconstruction.errors %}<div class="landed">{{ form.svc_reconstruction.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.svc_reconstruction }}
                    <label for="{{ form.svc_reconstruction.id_for_label }}">Реконструкция</label>
                </div>
                {% if form.svc_consulting.errors %}<div class="landed">{{ form.svc_consulting.errors }}</div>{% endif %}
                <div class="form-field">
                    {{ form.svc_consulting }}
                    <label for="{{ form.svc_consulting.id_for_label }}">Консультация</label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><span class="fieldset-position-legend">4</span>Дополнительная информация</legend>
        <div class="form-field">
            {{ upload_form.management_form }}
            {% for form in upload_form %}
                <div class="inline-form {{ upload_form.prefix }}">
                    {{ form.id }}
                    {% if form.afile.errors %}<div class="landed">{{ form.afile.errors }}</div>{% endif %}
                    {{ form.afile }}
                </div>
            {% endfor %}
        </div>
        {% if form.additional_info.errors %}<div class="landed">{{ form.additional_info.errors }}</div>{% endif %}
        <div class="form-field form-textarea">
            <label for="{{ form.additional_info.id_for_label }}">Дополнительная информация:</label>
            <div class="wide-field{% if form.additional_info.errors %} error_field{% endif %}">{{ form.additional_info }}</div>
        </div>
    </fieldset>
    <div class="form-field align-center">
        <input type="submit" value="Отправить" />
    </div>
</form>
{% endblock maincontent %}
