{% extends "base.html" %}

{% block maincontent %}
{% for faq in faq_list %}
    <article id="faq-{{ faq.id }}"{% if faq.answer_text|length > 700 %} class="scroll"{% endif %}>
        <header>
            <h1>{% firstof faq.question_point faq.question_text %}</h1>
        </header>
        {% autoescape off %}
        {% if faq.answer_text|length > 700 %}
            <section class="scrolled">
        {% endif %}
            {{ faq.answer_text }}
        {% if faq.answer_text|length > 700 %}
            </section>
            <section class="unscrolled">
                {{ faq.answer_text|truncatechars_html:400 }}
            </section>
            <footer class="align-center">
                <a href="#" class="scroll-control un-scroll">развернуть</a>
            </footer>
        {% endif %}
        {% endautoescape %}
    </article>
{% empty %}
    <article>
        <header>
            <h1 class="align-center">Не задано ещё ни одного вопроса.</h1>
        </header>
    </article>
{% endfor %}
<div class="align-center form-field">
    <a href="{% url 'faq_add' %}"  class="button main-submit">Задать свой вопрос</a>
</div>
{% endblock maincontent %}

{% block rightsidecontent %}
<section id="faq-control-panel">
    <a href="#" class="scroll-up-all">Свернуть всё</a>
    <a href="#" class="unscroll-all">Развернуть всё</a>
</section>
{% endblock rightsidecontent %}