{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
{% for style in styles %}
<link rel="stylesheet" type="text/css" href="{% static style %}" />
{% endfor %}
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
{% for script in scripts %}
<script type="text/javascript" src="{% static script %}"></script>
{% endfor %}
<script type="text/javascript" src="{% static 'js/jquery.attachments.control.js' %}"></script>
{% endblock scripts %}

{% block maincontent %}
{% for article in articles %}
<article>
    <header class="article">
        <h1>{{ article.title }}</h1>
    </header>
    {% if article.teaser %}
        {{ article.body|truncatewords_html:80 }}
        <p class="no-indent pinned"><a href="{{ article.get_absolute_url }}" class="readmore-link">читать дальше</a></p>
    {% else %}
        {{ article.body }}
    {% endif %}
</article>
{% endfor %}
<form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if form.user_name.errors %}<div class="landed">{{ form.user_name.errors }}</div>{% endif %}
    <div class="form-field flex-container cross-end dotted-bottom">
        <label for="{{ form.user_name.id_for_label }}" class="single-width">Ваше имя:</label>
        <div class="triple-width wide-field{% if form.user_name.errors %} error-field{% endif %}">{{ form.user_name }}</div>
    </div>
    {% if form.user_email.errors %}<div class="landed">{{ form.user_email.errors }}</div>{% endif %}
    <div class="form-field flex-container cross-end dotted-bottom">
        <label for="{{ form.user_email.id_for_label }}" class="single-width">Ваш email:</label>
        <div class="triple-width wide-field{% if form.user_email.errors %} error-field{% endif %}">{{ form.user_email }}</div>
    </div>
    {% if form.answer_email.errors %}<div class="landed">{{ form.answer_email.errors }}</div>{% endif %}
    <div class="form-field{% if form.answer_email.errors %} error-field{% endif %}">
        {{ form.answer_email }}
        <label for="{{ form.answer_email.id_for_label }}">Отправить ответ на email</label>
    </div>
    {% if form.question_text.errors %}<div class="landed">{{ form.question_text.errors }}</div>{% endif %}
    <div class="form-field label-above dotted-bottom">
        <label for="{{ form.question_text.id_for_label }}" class="required-field">Ваш вопрос:</label>
        <div class="wide-field{% if form.user_email.errors %} error-field{% endif %}">{{ form.question_text }}</div>
    </div>
    <div class="form-field label-above" id="attachment-fields">
        <label>Загруженные файлы:</label>
        {{ upload_form.management_form }}
        {% for inline_form in upload_form %}
        <div class="inline-form {{ upload_form.prefix }}">
            {{ inline_form.id }}
            {% if inline_form.afile.errors %}<div class="landed">{{ inline_form.afile.errors }}</div>{% endif %}
            {{ inline_form.afile }}<a href="#" class="clear-field" data-field-id="#{{ inline_form.afile.id_for_label }}">Удалить</a>
        </div>
        {% endfor %}
    </div>
    <div class="form-field align-center"><input type="submit" value="Отправить" class="button main-submit" /></div>
</form>
{% endblock maincontent %}

{% block rightsidecontent %}

{% endblock rightsidecontent %}