{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
{% for style in styles %}
<link rel="stylesheet" type="text/css" href="{% static style %}" />
{% endfor %}
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
{% for script in scripts %}
<script type="text/javascript" src="{% static script %}"></script>
{% endfor %}
{% endblock scripts %}

{% block maincontent %}
{% for article in articles %}
<article>
    <header class="article">
        <h1>{{ article.title }}</h1>
    </header>
    {% if article.teaser %}
        {{ article.body|truncatewords_html:80 }}
        <p class="no-indent pinned"><a href="{{ article.get_absolute_url }}" class="readmore-link">читать дальше</a></p>
    {% else %}
        {{ article.body }}
    {% endif %}
</article>
{% endfor %}
{% for faq in faq_list %}
    <article id="faq-{{ faq.id }}"{% if faq.answer_text|length > 700 %} class="scroll"{% endif %}>
        <header>
            <h1>{% firstof faq.question_point faq.question_text %}</h1>
        </header>
        {% autoescape off %}
        {% if faq.answer_text|length > 700 %}
            {% if page_detail %}{{ page_detail.set_flag }}{% endif %}
            <section class="scrolled">
        {% endif %}
            {{ faq.answer_text }}
        {% if faq.answer_text|length > 700 %}
            </section>
            <section class="unscrolled">
                {{ faq.answer_text|truncatechars_html:400 }}
            </section>
            <footer class="align-center">
                <a href="#" class="scroll-control un-scroll scroll-decor">развернуть</a>
            </footer>
        {% endif %}
        {% endautoescape %}
    </article>
{% empty %}
    <article>
        <header>
            <h1 class="align-center">Не задано ещё ни одного вопроса.</h1>
        </header>
    </article>
{% endfor %}
<div class="align-center form-field">
    <a href="{% url 'faq_add' %}"  class="button main-submit">Задать свой вопрос</a>
</div>
{% endblock maincontent %}

{% block rightsidecontent %}
{% comment %}
{% if page_detail %}
    {% if page_detail.get_flag %}
<section id="faq-control-panel">
    <section class="scroll-panel align-center">
        <a href="#" class="scroll-up-all button">Свернуть всё</a>
        <a href="#" class="unscroll-all button">Развернуть всё</a>
    </section>
</section>
    {% endif %}
{% endif %}
{% endcomment %}
{% endblock rightsidecontent %}
