{% extends "base.html" %}

{% block maincontent %}
{% for faq in faq_list %}
    <article id="faq-{{ faq.id }}">
        <header>
            <h1>{% firstof faq.question_point faq.question_text %}</h1>
        </header>
        {{ faq.answer_text|safe }}
    </article>
{% empty %}
    <article>
        <header>
            <h1 class="align-center">Не задано ещё ни одного вопроса.</h1>
        </header>
    </article>
{% endfor %}
<div class="align-center form-field">
    <a href="{% url 'faq_add' %}"  class="button main-submit">Задать свой вопрос</a>
</div>
{% endblock maincontent %}

{% block rightsidecontent %}

{% endblock rightsidecontent %}