{% extends 'base.html' %}

{% block maincontent %}
    {% for feedback in feedback_list %}
        <article>
            {% if feedback.title %}
            <header class="article">
                <h2>{{ feedback.title }}</h2>
            </header>
            {% endif %}
            {{ feedback.content|safe }}
            <footer class="article">
                <section class="datetime">{{ feedback.date_created|date:"d.m.Y" }}</section>
                <section class="author">{{ feedback.user_name }}{% if feedback.publish_email and feedback.user_email %} (<a href="mailto:{{ feedback.user_email }}">{{ feedback.user_email }}</a>){% endif %}</section>
            </footer>
        </article>
    {% empty %}
        <article>
            <header><h1 class="align-center">Ни одного отзыва ещё не оставлено. Будьте первым!</h1></header>
        </article>
    {% endfor %}
    <div class="align-center form-field"><a href="{% url 'feedback_add' %}" class="button main-submit">Оставить отзыв</a></div>
{% endblock maincontent %}