{% extends 'base.html' %}

{% block maincontent %}
    {% for feedback in feedback_list %}
        <article{% if feedback.content|length > 700 %} class="scroll"{% endif %}>
            {% if feedback.title %}
            <header class="article">
                <h2>{{ feedback.title }}</h2>
            </header>
            {% endif %}
            {% autoescape off %}
            {% if feedback.content|length > 700 %}
                <section class="scrolled">
            {% endif %}
            {{ feedback.content }}
            {% if feedback.content|length > 700 %}
                </section>
                <section class="unscrolled">
                    {{ feedback.content|truncatechars_html:400 }}
                </section>
            {% endif %}
            {% endautoescape %}
            <footer{% if feedback.content|length > 700 %} class="align-center"{% endif %}>
                <section class="datetime">{{ feedback.date_created|date:"d.m.Y" }}</section>
                <section class="author">{{ feedback.user_name }}{% if feedback.publish_email and feedback.user_email %} (<a href="mailto:{{ feedback.user_email }}">{{ feedback.user_email }}</a>){% endif %}</section>
                {% if feedback.content|length > 700 %}
                    <a href="#" class="scroll-control un-scroll">развернуть</a>
                {% endif %}
            </footer>
        </article>
    {% empty %}
        <article>
            <header><h1 class="align-center">Ни одного отзыва ещё не оставлено. Будьте первым!</h1></header>
        </article>
    {% endfor %}
    <div class="align-center form-field"><a href="{% url 'feedback_add' %}" class="button main-submit">Оставить отзыв</a></div>
{% endblock maincontent %}