{% extends "base.html" %}

{% block maincontent %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if form.user_name.errors %}<div class="landed">{{ form.user_name.errors }}</div>{% endif %}
        <div class="form-field multi-column dotted-bottom">
            <label for="{{ form.user_name.id_for_label }}" class="single-width required-field">Ваше имя:</label>
            <div class="triple-width wide-field{% if form.user_name.errors %} error-field{% endif %}">{{ form.user_name }}</div>
        </div>
        {% if form.user_email.errors %}<div class="landed">{{ form.user_email.errors }}</div>{% endif %}
        <div class="form-field multi-column dotted-bottom">
            <label for="{{ form.user_email.id_for_label }}" class="single-width required-field">Email:</label>
            <div class="triple-width wide-field{% if form.user_email.errors %} error-field{% endif %}">{{ form.user_email }}</div>
        </div>
        {% if form.publish_email.errors %}<div class="landed">{{ form.publish_email.errors }}</div>{% endif %}
        <div class="form-field{% if form.publish_email.errors %} error-field{% endif %}">
            {{ form.publish_email }}
            <label for="{{ form.publish_email.id_for_label }}" class="required-field">Показывать адрес email для всех</label>
        </div>
        {% if form.title.errors %}<div class="landed">{{ form.title.errors }}</div>{% endif %}
        <div class="form-field label-above dotted-bottom">
            <label for="{{ form.title.id_for_label }}">Тема (необязательно):</label>
            <div class="wide-field{% if form.title.errors %} error-field{% endif %}">{{ form.title }}</div>
        </div>
        {% if form.content.errors %}<div class="landed">{{ form.content.errors }}</div>{% endif %}
        <div class="form-field label-above dotted-bottom">
            <label for="{{ form.content.id_for_label }}" class="required-field">Текст отзыва:</label>
            <div class="wide-field{% if form.content.errors %} error-field{% endif %}">{{ form.content }}</div>
        </div>
        <div class="form-field align-center"><input type="submit" value="Отправить" class="button main-submit" /></div>
    </form>
{% endblock maincontent %}