{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block head %}
    {% if head_tags %}{{ head_tags|safe }}{% endif %}
    <meta name="description" content="{{ meta_description|default:'description' }}" />
    <meta name="keywords" content="{{ meta_keywords|default:'keywords' }}" />
    {% if styles %}
        {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        {% endfor %}
    {% endif %}
    {% if scripts %}
        {% for script in scripts %}
        <script type="text/javascript" src="{% static script %}"></script>
        {% endfor %}
    {% endif %}
{% endblock head %}

{% block maincontent %}

    {% for article in articles %}
        <article>
            <header>
                <h1>{{ article.title }}</h1>
            </header>
            
            {% if article.teaser %}
                {{ article.body|truncatewords_html:80 }}
            {% else %}
                {{ article.body }}
            {% endif %}
            
        </article>
    {% endfor %}

{% endblock maincontent %}