{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
{% endblock stylesheets %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slick.enable.js' %}"></script>
{% endblock scripts %}

{% block maincontent %}
<section class="flex-container row-wrap cross-stretch">
{% for album in albums %}
<section class="single-width">
    <div class="album-cover">
    {% for figure in album.get_random_pics %}
    <figure>
        <img src="{{ figure.image.file_name.url }}" width="450" height="340" />
        <figcaption><h2>{{ album.title }}</h2></figcaption>
    </figure>
    {% endfor %}
    </div>
</section>
{% empty %}
<section class="single-width align-center">
    <header>
        <h1>Ещё ничего не добавлено</h1>
    </header>
</section>
{% endfor %}
</section>
{% endblock maincontent %}