<!DOCTYPE html>
{% load static %}
<html class="mdrnz-no-js">
    <head>
        {% spaceless %}
        <meta charset="utf-8" />
        <title>{% block title %}{{ page_detail.title|default:'Title' }}{% endblock title %}</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/ptcbform.css' %}" />
        
        {% block stylesheets %}
        {% for style in page_detail.get_styles %}
        <link rel="stylesheet" type="text/css" href="{% static style %}" />
        {% endfor %}
        {% endblock stylesheets %}

        <script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/modernizr-flexbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.modernizr.no-flexbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.callback-form.js' %}"></script>
        
        {% block scripts %}
        {% for script in page_detail.get_scripts %}
        <script src="{% static script %}" type="text/javascript"></script>
        {% endfor %}
        {% endblock scripts %}
        
        {% block head %}
            {% if page_detail.head_tags %}{{ page_detail.head_tags|safe }}{% endif %}
            <meta name="description" content="{{ page_detail.meta_description|default:'description' }}" />
            <meta name="keywords" content="{{ page_detail.meta_keywords|default:'keywords' }}" />
        {% endblock head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/noflex.css' %}" />
        {% endspaceless %}
    </head>
    <body>
        <!-- начало шапка с верхним меню и картинкой -->
        <header id="page-header">
            <!-- начало верхнее меню -->
            {% block topmenu %}
            <nav id="topmenu">
                <ul class="centermenu">
                    <li class="menu-item{% if page_detail.name == 'index' %} current-page"><em>Главная</em>{% else %}"><a href="/">Главная</a>{% endif %}</li>
                    <li class="menu-item{% if page_detail.name == 'price-list' %} current-page"><em>Цены</em>{% else %}"><a href="{% url 'info_page' 'price-list' %}">Цены</a>{% endif %}</li>{% url 'portfolio_list' as the_url %}
                    <li class="menu-item{% if page_detail.name in the_url %} current-page"><em>Наши работы</em>{% else %}"><a href="{{ the_url }}">Наши работы</a>{% endif %}</li>{% url 'article_list' as the_url %}
                    <li class="menu-item{% if page_detail.name in the_url %} current-page"><em>Статьи</em>{% else %}"><a href="{{ the_url }}">Статьи</a>{% endif %}</li>{% url 'feedback_list' as the_url %}
                    <li class="menu-item{% if page_detail.name in the_url %} current-page"><em>Отзывы</em>{% else %}"><a href="{{ the_url }}">Отзывы</a>{% endif %}</li>
                    <li class="menu-item{% if page_detail.name == 'contacts' %} current-page"><em>Контакты</em>{% else %}"><a href="{% url 'info_page' 'contacts' %}">Контакты</a>{% endif %}</li>
                </ul>
            </nav>
            {% endblock topmenu %}
            <!-- конец верхнее меню -->
            <!-- начало верхняя картинка -->
            <div id="topimage-resize">
                <!-- начало затемнение, лого и контакты -->
                <div id="topimgveil">
                    <!-- начало логотип -->
                    <div id="logoimg">
                        <a href="/"><img src="{% static 'img/logoimg.png' %}" /></a>
                    </div>
                    <!-- конец логотип -->
                    <!-- начало контакты -->
                    <div id="topcontacts">
                        <p class="fa fa-phone">+7 (499) 940 33 39</p>
                        <p class="fa fa-cellular">+7 (903) 15 500 15</p>
                        <p class="fa fa-envelope"><a href="mailto:info@profitherm.ru">info@profitherm.ru</a></p>
                    </div>
                    <!-- конец контакты -->
                </div>
                <!-- конец затемнение, лого и контакты -->
            </div>
            <!-- конец верхняя картинка -->
        </header>
        <!-- конец шапка с верхним меню и картинкой -->
        <!-- начало основной блок страницы с меню и ушами -->
        <div id="page-wrapper">
            <!-- начало левое ухо -->
            <aside id="leftsidebar">
                <header>Услуги</header>
                <i class="fa fa-bars"></i>
                {% block leftsidemenu %}
                <nav>
                    <ul class="sidemenu">
                        <li class="menu-item{% if page_detail.name == 'object' %} current-page"><em>Выезд специалиста</em>{% else %}"><a href="{% url 'info_page' 'object' %}">Выезд специалиста</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'predvaritelnyi-raschet' %} current-page"><em>Предварительный расчёт</em>{% else %}"><a href="{% url 'info_page' 'predvaritelnyi-raschet' %}">Предварительный расчёт</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'proektirovanie-inzhenernyh-system' %} current-page"><em>Проектирование</em>{% else %}"><a href="{% url 'info_page' 'proektirovanie-inzhenernyh-system' %}">Проектирование</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'complektacia-oborudovania' %} current-page"><em>Комплектация оборудования</em>{% else %}"><a href="{% url 'info_page' 'complektacia-oborudovania' %}">Комплектация оборудования</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'montage-inzhenernyh-system' %} current-page"><em>Монтаж и пусконаладка</em>{% else %}"><a href="{% url 'info_page' 'montage-inzhenernyh-system' %}">Монтаж и пусконаладка</a>{% endif %}</li>
                    </ul>
                </nav>
                {% endblock leftsidemenu %}
                {% block leftsidecontent %}
                {% endblock leftsidecontent %}
            </aside>
            <!-- конец левое ухо -->
            <!-- начало правое ухо -->
            <aside id="rightsidebar">
                {% block rightsidemenu %}
                <nav>
                    <ul class="sidemenu">{% url 'calculation_order_add' as the_url %}
                        <li class="menu-item{% if page_detail.name in the_url %} current-page"><em>Заказать расчёт бесплатно</em>{% else %}"><a href="{{ the_url }}">Заказать расчёт бесплатно</a>{% endif %}</li>
                        <li class="menu-item"><a href="#{# url 'callback_form' #}" id="get-callback">Заказать обратный звонок</a></li>
                        {#<li class="menu-item"><a href="{% url 'calculators_list' %}">Калькуляторы</a></li>{% url 'faq_list' as the_url %}#}
                        <li class="menu-item{% if page_detail.name in the_url %} current-page"><em>Часто задаваемые вопросы</em>{% else %}"><a href="{{ the_url }}">Часто задаваемые вопросы</a>{% endif %}</li>
                    </ul>
                </nav>
                {% endblock rightsidemenu %}
                {% block rightsidecontent %}
                <!-- начало случайные FAQ -->
                    {% if faq_list %}
                    <section class="pinned">
                    {% for faq in faq_list %}
                    <a href="{{ faq.get_absolute_url }}">
                        <article>
                            <header>
                                <h1>{% firstof faq.question_point faq.question_text|truncatewords:7 %}</h1>
                            </header>
                            {% autoescape off %}
                            {{ faq.answer_text|truncatewords_html:60 }}    
                            {% endautoescape %}
                        </article>
                    </a>
                    {% endfor %}
                    </section>
                    {% endif %}
                <!-- конец случайные FAQ -->
                {% endblock rightsidecontent %}
            </aside>
            <!-- конец правое ухо -->
            <!-- начало средняя часть, включая меню 2 этаж -->
            <main class="single-width">
                <!-- начало меню 2 этаж -->
                {% block secondmenu %}
                <nav id="secondmenu">
                    <ul class="centermenu">
                        <li class="menu-item{% if page_detail.name == 'otoplenie-zagorodnogo-doma' %} current-page"><em>Отопление</em>{% else %}"><a href="{% url 'info_page' 'otoplenie-zagorodnogo-doma' %}">Отопление</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'vodosnabzhenie-zagorodnogo-doma' %} current-page"><em>Водоснабжение</em>{% else %}"><a href="{% url 'info_page' 'vodosnabzhenie-zagorodnogo-doma' %}">Водоснабжение</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'kotelnye' %} current-page"><em>Котельные</em>{% else %}"><a href="{% url 'info_page' 'kotelnye' %}">Котельные</a>{% endif %}</li>
                        <li class="menu-item{% if page_detail.name == 'vodoochistka' %} current-page"><em>Водоподготовка</em>{% else %}"><a href="{% url 'info_page' 'vodoochistka' %}">Водоподготовка</a>{% endif %}</li>
                    </ul>
                </nav>
                {% endblock secondmenu %}
                <!-- конец меню 2 этаж -->
                <!-- начало блок с контентом -->
                {% block maincontent %}
                <article>
                    <header>
                        <h1>Lorem Ipsum</h1>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
                <article>
                    <header>
                        <h1>Lorem Ipsum</h1>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
                {% endblock maincontent %}
                <!-- конец блок с контентом -->
            </main>
            <!-- конец средняя часть, включая меню 2 этаж -->
        </div>
        <!-- конец основной блок страницы с меню и ушами -->
        <!-- начало подвал -->
        <footer id="page-footer">
            <aside id="footer-left">
                <div id="footercontacts">
                    <p>Москва<br />ул.Буракова, д.27, корп.3</p>
                    <p class="fa fa-phone">+7 (499) 940 33 39</p>
                    <p class="fa fa-cellular">+7 (903) 15 500 15</p>
                    <p class="fa fa-envelope"><a href="mailto:info@profitherm.ru">info@profitherm.ru</a></p>
                </div>
            </aside>
            <aside id="footer-right">
                <p id="social"><a class="fa fa-vk" href="https://vk.com/club137205394" rel="nofollow" target="_blank"></a>&#160;<a class="fa fa-facebook" href="https://www.facebook.com/profitermservice/" rel="nofollow" target="_blank"></a>&#160;<a class="fa fa-instagram" href="https://www.instagram.com/profiterm/" rel="nofollow" target="_blank"></a></p>
            </aside>
            <nav>
                <ul class="repeatmenu">
                    <li class="text-item"><a href="/">Главная</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'info_page' 'price-list' %}">Цены</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'portfolio_list' %}">Наши работы</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'article_list' %}">Статьи</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'feedback_list' %}">Отзывы</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'info_page' 'contacts' %}">Контакты</a></li>
                </ul>
                <ul class="repeatmenu">
                    <li class="text-item"><a href="{% url 'info_page' 'otoplenie-zagorodnogo-doma' %}">Отопление</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'info_page' 'vodosnabzhenie-zagorodnogo-doma' %}">Водоснабжение</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'info_page' 'kotelnye' %}">Котельные</a></li>
                    <li class="text-item">|</li>
                    <li class="text-item"><a href="{% url 'info_page' 'vodoochistka' %}">Водоподготовка</a></li>
                </ul>
            </nav>
            <p class="copyright-info">Все права защищены &#169; 2005-2017 Компания &#171;ПрофиТерм&#187;</p>
        </footer>
        <!-- конец подвал -->
        <div id="ptcb-overlay">
            <div id="ptcb-window">
                <div id="ptcb-close"></div>
                <div id="ptcb-loader"></div>
                <div id="ptcb-content"></div>
            </div>
        </div>
    </body>
</html>