.dit-figure {
    margin: 0.8em;
}

.dit-col-flow {
    display: block;
}

.dit-row-flow {
    display: inline-block;
}

.dit-float-left {
    float: left;
}

.dit-float-right {
    float: right;
}

.dit-centered {
    text-align: center;
}

.dit-small-frame {
    margin: 0.1em;
}

.dit-border {
    padding: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.15);
}

.dit-clear {
    clear: both;
}