#ptcb-overlay {
    display: none;
    margin: 0;
    padding: 0;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 22222;
}

#ptcb-content {
    display: none;
    position: absolute;
    width: 250px;
    padding: 30px;
    left: 50%;
    top: 45%;
    margin-left: -155px;
    background-color: #FFFFFF;
}

#ptcb-close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("/static/img/ov_close.png");
    background-position: center center;
    background-repeat: no-repeat;
}